aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
black==22.3.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
dataclasses==0.8
datasets==2.2.1
dill==0.3.4
filelock==3.4.1
frozenlist==1.2.0
fsspec==2022.1.0
huggingface-hub==0.4.0
idna==3.3
idna-ssl==1.1.0
importlib-metadata==4.8.3
importlib-resources==5.4.0
joblib==1.1.0
keras==2.9.0
layoutlm==0.0
lxml==4.6.5
multidict==5.2.0
multiprocess==0.70.12.2
mypy-extensions==0.4.3
numpy==1.19.5
packaging==21.3
pandas==1.1.5
pathspec==0.9.0
Pillow==8.4.0
platformdirs==2.4.0
protobuf==3.19.4
pyarrow==6.0.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
regex==2022.4.24
requests==2.27.1
responses==0.17.0
sacremoses==0.0.53
scikit-learn==0.24.2
scipy==1.5.4
semantic-version==2.9.0
sentencepiece==0.1.96
seqeval==0.0.12
setuptools-rust==1.1.2
six==1.16.0
sklearn==0.0
tensorboardX==2.0
threadpoolctl==3.1.0
tokenizers==0.7.0
tomli==1.2.3
torch==1.10.2
tqdm==4.64.0
transformers==2.9.0
typed-ast==1.5.3
typing_extensions==4.1.1
urllib3==1.26.9
xxhash==3.0.0
yarl==1.7.2
zipp==3.6.0
